<form action="<%= search_path %>" method="get" class="search-form">
  <input type="text" name="query" placeholder="<%= t('views.buffet.search.placeholder') %>">
  <button type="submit"><%= t('views.buffet.search.button') %></button>
</form>

