.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  padding: 20px;
  margin: 0;
  background: #f8f8f8;
}


@media (min-aspect-ratio: 16/9) {
  .centered-content {
    align-items: flex-start;
  }
}
