// Variáveis de cores
$color-white: #fff;
$color-black: #343a40;
$color-light-gray: #f2f2f2;
$color-dark-gray: #555;
$color-blue: #007bff;
$color-dark-blue: #0056b3;
$color-red: #dc3545;
$color-dark-red: #bd2130;
$color-error: red;

// Cores escuras e metálicas
$color-dark-metallic: #444;
$color-darker-metallic: #333;

// Cores para o modo escuro
$dark-background: #333;
$dark-text: #ccc;
$dark-header: #222;
$light-text: #fff;

// Mixins
@mixin btn-style {
  display: inline-block;
  padding: 10px 20px;
  background-color: $color-dark-metallic;
  color: $color-white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: $color-darker-metallic;
  }
}


// Estilos Globais
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-black;
  padding: 10px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  margin: 0;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 10px;
}

.header-btn {
  @include btn-style;
  color: $color-white;
  text-decoration: none;
}

.main-content {
  margin-top: 70px;
}


@media screen and (min-width: 768px) {
  header {
    position: sticky;
    top: 0;
  }
}

.btn-logout {
  position: absolute;
  top: 10px;
  right: 25px;
  background-color: $color-red;
}

.user-greeting {
  position: absolute;
  top: 15px;
  right: 125px;
  color: $color-white;
}

main {
  padding: 20px;
}

.search-form {
  margin-bottom: 20px;
  input[type="text"] {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  input[type="submit"] {
    @include btn-style;
  }
}

// Erro e Detalhes
#error_explanation {
  color: $color-error;
  h2 {
    font-size: 18px;
  }
}

.event-type-details, .event-prices-container {
  margin-bottom: 20px;
  strong, th, td {
    display: inline-block;
    padding: 8px;
    border: 1px solid #ddd;
  }
  th {
    background-color: $color-light-gray;
    text-align: left;
    &:first-child, &:last-last {
      border-left: none;
      border-right: none;
    }
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
  .btn {
    @include btn-style;
  }
  .btn-secondary {
    background-color: $color-dark-gray;
  }
}

.dark-theme {
  background-color: $dark-background;
  color: $dark-text;

  header, nav, footer {
    background-color: $dark-header;
    color: $dark-text;
  }

  a, .header-btn {
    color: $dark-text;
    &:hover {
      background-color: darken($color-dark-gray, 10%);
    }
  }

  .buffet-details, .event-card, .events-container, .main-content {
    background-color: #444;
    color: $light-text;
  }
}


.dark-theme .buffet-details, .dark-theme .event-card {
  color: $color-white;
}
